.App {
  text-align: center;
  margin-top: 50px;
  padding: 0px 10px;
}

.form {
  display: flex;
  flex-direction: column;
  min-width: 282px;
  max-width: 400px;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.input {
  margin: 10px 10px;
}

.random {
  margin-bottom: 20px;
}

.exapmle,
.exapmleDel {
  font-size: 18px;
  margin: 15px 1%;
  display: inline-block;
  width: 150px;
  transition: background 0.3s;
  padding: 3px 4px;
}

.content {
  max-width: 992px;
  margin: 0 auto;
}

.groupButtons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.exapmleDel div {
  display: flex;
  justify-content: center;
}

.exapmleDel:hover {
  /* background: #ff000059; */
  cursor: pointer;
  border-radius: 3px;
}

.inputField {
  width: 400px;
  margin-bottom: 15px;
}

.inputField div {
  width: 100%;
}
